Django==1.9.5
django-activeurl==0.1.9
django-allauth==0.25.2
django-appconf==1.0.1
django-cachalot==1.2.1
django-classy-tags==0.7.2
django-debug-toolbar==1.4
django-mptt==0.8.3
django-post-office==2.0.6
django-vanilla-views==1.0.4
django-widget-tweaks==1.4.1
oauthlib==1.0.3
requests==2.9.1
requests-oauthlib==0.6.1
sqlparse==0.1.19
django-sslify>=0.2.0
diff-match-patch