{% extends "base.html" %}

{% block content %}
{% endblock %}

{% block extra_body %}
<div id="modal-story-variants" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div id="modal-story-content" data-uk-observe>
            <div class="uk-modal-spinner"></div>
        </div>
    </div>
</div>

<script>
    $('.modal-story-variants-show').on(
        'click', function(e) {
            var target = $(this).data('uk-modal').target,
                url = $(this).attr('href');

            $.get(url, function(data) {
                    var html = "",
                        part_orginal_id = data.part_original.id;
                    
                    html += '<div class="uk-modal-header"><h2>Доступные варианты</h2></div>';
                    
                    $.each(data.part_variants, function( index, part ){
                        if (part_orginal_id != part.id) {
                            html += '<a class="uk-panel uk-panel-hover uk-margin-bottom" href="'+ part.url +'">';
                        } else {
                            html += '<div class="uk-panel uk-panel-box uk-margin-bottom" id="part-'+ part.id +'">';
                        }
                        html += '<div class="uk-panel-badge">';
                        if (part_orginal_id == part.id) {
                            html += '<div class="uk-badge uk-badge-success"><i class="uk-icon-check"></i> выбранный вариант</div>';
                        }
                        html += '</div>';
                        html += '<p>' + part.text + '</p>';
                        if (part_orginal_id != part.id) {
                            html += '</a>';
                        } else {
                            html += '</div>';
                        }
                    });
                    
                    html += '<div class="uk-modal-footer uk-text-large uk-text-center">';
                    html += 'Учтите, что после выбора альтернативного варианта продолжение истории так же изменится.';
                    html += '</div>';
                    
                    $('#modal-story-content').html(html);
                }
            ).fail(function() {
                console.log( "error" );
            });
        }
    );
    $('#modal-story-variants').on({
        'hide.uk.modal': function(){
            $('#modal-story-content', $(this)).html('<div class="uk-modal-spinner"></div>');
        }
    });
</script>
{% endblock %}