{% extends "story/base.html" %}

{% block title %}Новая история{% endblock %}

{% block breadcrumbs %}
    {{block.super}}
    <i class="right chevron icon divider"></i>
    <a href="{% url 'story_list' %}" class="section">Истории</a>
{% endblock %}

{% block breadcrumbs_active %}
    <i class="right chevron icon divider"></i>
    <div class="active section">Колыбель сознания</div>
{% endblock %}

{% block content %}
    <h1>
    {% if story %}
    {{ story.title }} :: новая часть
    {% else %}
    Новая история
    {% endif %}
    </h1>
    <div class="ui grid">
        <div class="ten wide column">
            {% if parent_part %}
            <div class="ui segment">
                {{ parent_part.text }}    
            </div>
            {% endif %}
            <form action="." method="post" class="ui form {% if not form.is_valid %} error{% endif %}">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    <div class="field {% if field.errors %} error{% endif %}{% if field.field.required %} required{% endif %}">
                        {{ field.label_tag }}
                        {% if field.errors %}
                            <div class="ui error message">
                                {% for error in field.errors %}
                                <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ field }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                <button class="ui green button" type="submit">Создать</button>
                {% if form.non_field_errors %}
                <div class="ui error message">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}
            </form>
        </div>
        <div class="six wide column">
            <div class="ui yellow segment">
                {% if story %}
                <h4 class="ui header">При продолжении истории следует помнить:</h4>
                <div class="ui relaxed divided list">
                    <div class="item">
                        <i class="warning circle icon red"></i>
                        <div class="content">
                        </div>
                    </div>
                </div>
                {% else %}
                <h4 class="ui header">При создании новой истории следует помнить:</h4>
                <div class="ui relaxed divided list">
                    <div class="item">
                        <i class="warning circle icon red"></i>
                        <div class="content">
                            Обязательны к заполнению поля:<br/>
                            <b>Название</b> и <b>Первая часть</b>.
                        </div>
                    </div>
                    <div class="item">
                        <i class="warning icon"></i>
                        <div class="content">
                            <b>Название</b> - максимальная длина 250 символов.
                        </div>
                    </div>
                    <div class="item">
                        <i class="warning icon"></i>
                        <div class="content">
                            <b>Описание</b> - короткое описание истории
                            которое будет видно в списках. Интересное
                            "цепляющее" описание привлечет к вашей истории
                            внимание читателей и других авторов.
                        </div>
                    </div>
                    <div class="item">
                        <i class="warning icon"></i>
                        <div class="content">
                            <b>Первая часть</b> - первый, неизменяемый блок 
                            вашей истории. От него другие авторы смогут строить
                            свои вариации повествования. Единственный блок, версию
                            которого будет невозможно изменить.
                        </div>
                    </div>
                    <div class="item">
                        <i class="warning icon"></i>
                        <div class="content">
                            <b>Теги</b> - помогут другим авторам и читателям найти
                            вашу историю, конечно, если вы все сделаете правильно.
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}