{% extends "story/base.html" %}

{% load account mptt_tags %}

{% block title %}Карта истории: {{ story.title }}{% endblock %}

{% block breadcrumbs %}
    {{block.super}}
    <i class="right chevron icon divider"></i>
    <a href="{% url 'story_list' %}" class="section">Истории</a>
    <i class="right chevron icon divider"></i>
    <a href="{{ story.get_absolute_url }}" class="section">{{ story.title }}</a>
{% endblock %}

{% block breadcrumbs_active %}
    <i class="right chevron icon divider"></i>
    <div class="active section">Карта истории</div>
{% endblock %}

{% block content %}
    <h1>{{ story.title }}</h1>

    {{ root_story_line.get_family }}
{% endblock %}


{% block javascript %}
{% endblock %}