{% extends "story/base.html" %}

{% load account %}

{% block title %}{{ story.title }}{% endblock %}

{% block mid_line %}{% spaceless %}
<article class="uk-article">
    <h1 class="uk-article-title">{{ story.title }}
    {% if story.creator == user %}
        <a href="{% url 'story_edit' story.pk %}" title="редактировать">
            <div class="uk-badge uk-badge-warning">
                <i class="uk-icon-pencil-square-o"></i>
            </div>
        </a>
    {% endif %}
    </h1>
    {% for part in story_parts %}
        <div class="uk-position-relative" style="padding: 20px 0;">
            <div class="uk-position-top-right">
            
                {% if part.author == user %}
                <div class="uk-badge uk-badge-success">вы автор эпизода</div>
                {% endif %}
                {% if part.get_siblings %}
                <a 
                    class="modal-story-variants-show" 
                    href="{% url 'story_detail_part_variants' story.pk part.pk %}" 
                    data-uk-modal='{"target":"#modal-story-variants"}'
                    title="алтернативные варианты"
                >
                    <div class="uk-badge uk-badge-warning">
                        <i class="uk-icon-sitemap"></i>
                    </div>
                </a>
                {% endif %}
                {% if part.is_child_node %}
                <a 
                    href="{% url 'story_part_create' story.pk part.pk %}"
                    title="предложить свою версию"
                >
                    <div class="uk-badge uk-badge-danger">
                        <i class="uk-icon-code-fork"></i>
                    </div>
                </a>
                {% endif %}
            </div>
            {{ part.text }}
        </div>
    {% empty %}
        <div class="uk-panel uk-panel-box">
            <p class="uk-panel-title">Тлен и пустота в твоей истории :(</p>
        </div>
    {% endfor %}
    <hr class="uk-article-divider" />
    <div class="uk-width-1-2 uk-container-center uk-text-center">
        <a class="uk-button uk-width-1-1" href="{% url 'story_part_create' story.pk primary_story_line.pk %}">
            продолжить историю
        </a>
    </div>
</article>
{% endspaceless %} {% endblock %}