{% extends "story/base.html" %}

{% load account humanize %}

{% block title %}{{ story.title }}{% endblock %}

{% block content %}
<div class="uk-grid uk-grid-small">
    <div class="uk-push-1-10 uk-width-9-10">
    <h1>{{ story.title }}</h1>
    {% if story.creator == user %}
    <div class="uk-text-mutted">
        <a href="{% url 'story_edit' story.pk %}" title="редактировать">
            <div class="uk-badge uk-badge-warning">
                <i class="uk-icon-pencil-square-o"></i>
                редактировать
            </div>
        </a>
    </div>
    {% endif %}
    </div>

    <div class="uk-width-1-1">
    {% spaceless %}
    {% for part in story_line.parts.all %}
        <div class="uk-grid uk-grid-small uk-margin-top" data-uk-grid-match>
            <div class="uk-width-1-10 uk-position-relative">
                <div class="uk-position-top-right">
                {% if part.story_part.level > 1 %}
                <div class="uk-text-right">
                    <button class="uk-button uk-button-small">
                        <i class="uk-icon-thumbs-up"></i>
                        20
                    </button>
                </div>
                {% endif %}
                </div>
            </div>
            <div class="uk-width-8-10">
                {{ part.text_block.text }}
            </div>
            <div class="uk-width-1-10">
                <div class="uk-margin-bottom">
                    <div class="uk-button-group uk-margin-small-bottom">
                        <a
                            class="uk-button uk-button-mini"
                            href="{% url 'story_detail_line_part_variants' story_line.pk part.pk %}"
                            data-uk-modal='{"target":"#modal-story-variants"}'
                            title="сюжетные линии"
                        >
                            <i class="uk-icon-sitemap"></i>
                            {{ part.get_other_lines_parts.count }}
                        </a>
                        <a
                            class="uk-button uk-button-mini"
                            href="{% url 'story_detail_line_part_next' story_line.pk part.story_part.pk %}"
                            title="продолжить сюжет"
                        >
                            <i class="uk-icon-plus"></i>
                        </a>
                    </div>

                    <div class="uk-button-group">
                        <a
                            class="uk-button uk-button-mini"
                            href="{% url 'story_detail_line_part_modifications' story_line.pk part.text_block.pk %}"
                            data-uk-modal='{"target":"#modal-story-modifications"}'
                            title="варианты текста"
                        >
                            <i class="uk-icon-clone"></i>
                            {{ part.get_other_text_block_variants.count }}
                        </a>
                        <a
                            class="uk-button uk-button-mini"
                            href="{% url 'story_detail_line_part_modification_add' story_line.pk part.story_part.pk %}"
                            title="предложить версию текста"
                        >
                            <i class="uk-icon-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="uk-text-muted uk-text-small">
                    написал {% if part.text_block.author %}{{ part.text_block.author }}{% else %}аноним{% endif %}<br/>
                    {{ part.text_block.created|naturaltime }}
                </div>
            </div>
        </div>
        {% empty %}
            <p class="uk-panel-title">Тлен и пустота в твоей истории :(</p>
        {% endfor %}
        <div class="uk-grid">
            <div class="uk-push-1-10 uk-width-8-10">
                <div class="uk-grid">
                    <div class="uk-width-3-5 uk-text-center">
                        {% with story_line.get_last_part as last_part %}
                        <a class="uk-button uk-width-1-1" href="{% url 'story_detail_line_part_next' story_line.pk last_part.pk %}">
                            продолжить
                        </a>
                        {% endwith %}
                    </div>
                    <div class="uk-width-2-5 uk-text-center">
                        <button class="uk-button uk-button-primary uk-width-1-1">
                            закончить историю
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endspaceless %}
    </div>
</div>
{% endblock %}

{% block right_line %}{% spaceless %}

{% endspaceless %}{% endblock %}
