{% extends "story/base.html" %}

{% load account %}

{% block title %}{{ story.title }}{% endblock %}

{% block content %}
<article class="uk-article">
    <h1 class="uk-article-title">{{ story.title }}</h1>

    {{story_line_part}}

    {{part_variants}}

    {% for part in part_variants %}
        {% if part == story_line_part %}
        <div class="uk-panel uk-panel-box uk-margin-bottom" id="part-{{ part.pk }}">
        {% else %}

        {% endif %}
            <div class="uk-panel-badge">
                {% if part.author == user %}
                    <div class="uk-badge uk-badge-success">вы автор эпизода</div>
                {% endif %}

                {% if part == story_line_part %}
                    <div class="uk-badge uk-badge-success">
                        <i class="uk-icon-check"></i>
                        сюжетный эпизод
                    </div>
                {% endif %}
            </div>
            <p>{{ part.text_block.text|linebreaks }}</p>
        {% if part == story_line_part %}
        </div>
        {% else %}
        </a>
        {% endif %}
    {% empty %}
        <div class="uk-panel uk-panel-box">
            <p class="uk-panel-title">Тлен и пустота в твоей истории :(</p>
        </div>
    {% endfor %}
</article>
<hr/>

    <i class="uk-icon-code-fork"></i>
    предложить свою версию
</a>
{% endblock %}