<!DOCTYPE html>{% load static account %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{% block title %}Добро пожаловать{% endblock %} - Quantum Library</title>

        <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
    </head>
    <body>
        <nav class="uk-navbar uk-margin-bottom">
            <div class="uk-container">
                <a href="/" class="uk-navbar-brand">
                    Quantum Library
                </a>
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="{% url 'story_reading_list' %}">
                            Читальный зал
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'story_list' %}">
                            Мастерские
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'story_create' %}">
                            Новая история
                        </a>
                    </li>
                </ul>
                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav">
                        {% if not user.is_authenticated %}
                        <li>
                            <a href="{% url 'account_signup' %}">
                                Регистрация
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'account_login' %}">
                                Вход
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="#">
                                Избранное
                            </a>
                        </li>
                        <li>
                            {% user_display user %}
                        </li>
                        <li>
                            <a href="{% url 'account_logout' %}">
                                Выход
                             </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="uk-container uk-margin-bottom">
            {% for message in messages %}
            <div class="uk-alert uk-alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} uk-margin-bottom">
                <a href="javascript:void();" class="uk-alert-close uk-close"></a>
                {{ message }}
            </div>
            {% endfor %}

            {% block breadcrumbs %}
            <ul class="uk-breadcrumb uk-margin-bottom">
                <li><a href="/">Главная</a></li>
                {% block breadcrumbs_path %}{% endblock %}
                {% block breadcrumbs_active %}{% endblock %}
            </ul>
            {% endblock %}

            {% block content %}{% endblock %}
        </div>

        <!-- jQuery first, then Bootstrap JS. -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="{% static 'components/uikit/js/uikit.min.js' %}"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                console.log('app ready');
            });
        </script>
        {% block extra_body %}{% endblock %}
  </body>
</html>
