<!DOCTYPE html>{% load static account activeurl %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{% block title %}Добро пожаловать{% endblock %} - Quantum Library</title>

        <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
    </head>
    <body>
        <nav class="uk-navbar uk-margin-bottom" >
            <div class="uk-container uk-container-center">
                <a href="/" class="uk-navbar-brand uk-hidden-small">
                    Quantum Library
                </a>
				{% activeurl menu="true" parent_tag="li" css_class="uk-active" %}
                <ul class="uk-navbar-nav uk-hidden-small">
                    <li>
                        <a href="{% url 'story_reading_list' %}">
                            Читальный зал
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'story_list' %}">
                            Мастерские
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'story_create' %}">
                            Новая история
                        </a>
                    </li>
                </ul>
				{% endactiveurl %}
                <div class="uk-navbar-flip uk-hidden-small">
					{% activeurl menu="yes" parent_tag="li" css_class="uk-active" %}
                    <ul class="uk-navbar-nav">
                        {% if not user.is_authenticated %}
                        <li>
                            <a href="{% url 'account_signup' %}">
                                Регистрация
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'account_login' %}">
                                Вход
                            </a>
                        </li>
                        {% else %}
                        <li class="uk-parent" data-uk-dropdown="">
                            <a href="#">
                                <i class="uk-icon-user"></i>
                                {% user_display user %}
                                <i class="uk-icon-caret-down"></i>
                            </a>
                            <div class="uk-dropdown uk-dropdown-navbar">
                                <ul class="uk-nav uk-nav-navbar">
                                    <li><a href="{% url 'user_profile' %}">Профиль</a></li>
                                    <li><a href="#">Настройки</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="{% url 'account_logout' %}">
                                Выход
                             </a>
                        </li>
                        {% endif %}
                    </ul>
					{% endactiveurl %}
                </div>
				<a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
                <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Quantum Library</div>
            </div>
        </nav>

        <div class="uk-container uk-container-center uk-margin-bottom">
            {% for message in messages %}
            <div class="uk-alert uk-alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} uk-margin-bottom" data-uk-alert>
                <a href="#" class="uk-alert-close uk-close"></a>
                {{ message }}
            </div>
            {% endfor %}

            {% block breadcrumbs %}
            <ul class="uk-breadcrumb uk-margin-bottom">
                <li><a href="/">Главная</a></li>
                {% block breadcrumbs_path %}{% endblock %}
                {% block breadcrumbs_active %}{% endblock %}
            </ul>
            {% endblock %}

            {% block content %}{% endblock %}
        </div>
		
		<div id="offcanvas" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
				{% activeurl menu="yes" parent_tag="li" css_class="uk-active" %}
                <ul class="uk-nav uk-nav-offcanvas">
                    <li>
                        <a href="{% url 'story_reading_list' %}">
                            Читальный зал
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'story_list' %}">
                            Мастерские
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'story_create' %}">
                            Новая история
                        </a>
                    </li>
					<li class="uk-nav-divider"></li>
                    {% if not user.is_authenticated %}
					<li>
						<a href="{% url 'account_signup' %}">
							Регистрация
						</a>
					</li>
					<li>
						<a href="{% url 'account_login' %}">
							Вход
						</a>
					</li>
					{% else %}
					<li>
						<a href="{% url 'user_profile' %}">
							<i class="uk-icon-user"></i>
							{% user_display user %}
						</a>
					</li>
					<li>
						<a href="{% url 'account_logout' %}">
							Выход
						 </a>
					</li>
					{% endif %}
                </ul>
				{% endactiveurl %}
            </div>
        </div>

        <!-- jQuery first, then Bootstrap JS. -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="{% static 'components/uikit/js/uikit.min.js' %}"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                console.log('app ready');
            });
        </script>
        {% block extra_body %}{% endblock %}
        
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter36598665 = new Ya.Metrika({
                            id:36598665,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/36598665" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
  </body>
</html>
